body{
  max-width: 1300px
}
.card-box{
  background-image: linear-gradient(to top right, #DB7093, #8A2BE2 );
  font-family: 'Karla', sans-serif;
}

.card-box p{
  font-size: 14px
}

.chip{
  color: #AF3C3C
}

.add-card{
  transition: 0.5s
}
.add-card:hover{
  background-color: #fff;
  color: rgba(59, 130, 246);
  border-color: rgba(59, 130, 246)
}
.input-div{
  width: 45%
}
@media only screen and (min-width: 768px){
  .box-1{
    width: 40%
  }
  .box-2{
    width: 50%;
  }
  
}

@media only screen and (min-width: 1024px){
  .input-div{
    width: 45%;
  }
}